/* Farmsystem.module.less */

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh; /* 화면 전체 높이 */
  overflow: hidden;
}

.navWrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; /* Nav가 스크롤러 위에 있도록 설정 */
}

.section {
  margin-top: 4rem; /* Nav의 높이만큼 상단 여백 설정 */
  height: calc(100vh - 4rem); /* Nav 높이를 제외한 전체 높이 */
  overflow-y: auto;
}

.title {
  width: 100%;
  text-align: center;
  color: #1a1c16;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
}

.data-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
  padding-right: 2.5rem;
}

.card {
  width: 100%;
  max-width: 75%;
  background-color: #f3f5e9;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
