.tap_container {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 200px;
  z-index: 10; /* 탭이 다른 요소 위에 나타나도록 설정 */
}

.tap_container > ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.tap_container > ul > li {
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
}

.tap_container > ul > li:hover {
  background-color: #f0f0f0;
}
